In [7]:
# basic marksheet program
eng  = int(input("Enter English Marks: "))
isl = int(input("Enter Islamaiat Marks: "))
maths = int(input("Enter Maths Marks: "))
total = 300
percent = (eng+isl+maths)/total*100
if percent < 100 and percent >= 80:
    print("A+")
elif percent < 80 and percent >= 70:
    print("A")
elif percent < 70 and percent >= 60:
     print("B")
elif percent < 60 and percent >= 50:
    print("C")
elif percent < 50 and percent >= 40:
    print("D")
elif percent < 33 and percent >= 33:
    print("E")
elif percent < 0 and percent > 100:
    print("You did not write correct percent")
else:
    print("F")

Enter English Marks: 66
Enter Islamaiat Marks: 77
Enter Maths Marks: 74
A

In [4]:
# every time we take input pass string by default
x = input("Enter a value ")
y = 25
z = x + y
print(z)

Entera value3

TypeError: can only concatenate str (not "int") to str

In [5]:
x = input("Enter a value ")
y = 25
z = int(x) + y
print(z)

Enter a value 23
48

In [6]:
x = int(input("Enter a value "))
y = 25
z = x + y
print(z)

Enter a value 33
58

In [8]:
y = 3**4
print(y)

81

In [10]:
print("Hello \nWorld")

Hello
World

In [1]:
x = 10
y = 12
a = 30
b = 8
if x+y == a-b:
    print(True)
else:
    print(False)

True

In [2]:
age = int(input("Enter age "))
gender = input("Enter gender ")
if age > 18 and gender == "male":
    print("Allow")
else:
    print("Do not allow")

Enter age 21
Enter gender male
Allow

In [4]:
# lists
arr = [122,6]
print(arr)

[122, 6]

In [7]:
"""we are learning
lists now"""
print("Bye World")

Bye World

In [9]:
name1 = "Usama"
name2 = "Mahrukh"
name3 = "Ali"
name4 = "laiba"
name5 = "Maha"
name6 = "fazeela"
print(name1+","+name2+","+name3+",")

Usama,Mahrukh,Ali,

In [11]:
#list
name = ["Usama","Mahrukh","laiba","Maha","fazeela"]
print(name)

['Usama', 'Mahrukh', 'laiba', 'Maha', 'fazeela']

In [12]:
print(name[0])

Usama

In [13]:
name[1]="Hamza"
print(name)

['Usama', 'Hamza', 'laiba', 'Maha', 'fazeela']

In [14]:
name.append("Ahmed")
print(name)

['Usama', 'Hamza', 'laiba', 'Maha', 'fazeela', 'Ahmed']

In [17]:
arr = ['Markhor',12,True,5.009]
print(arr)

['Markhor', 12, True, 5.009]

In [18]:
name

['Usama', 'Hamza', 'laiba', 'Maha', 'fazeela', 'Ahmed']

In [20]:
newList = name + arr
print(newList)

['Usama', 'Hamza', 'laiba', 'Maha', 'fazeela', 'Ahmed', 'Markhor', 12, True, 5.009]

In [21]:
name = name.insert(3,"Uzma")
print(name)

None

In [28]:
name1 = ["Usama","Mahrukh","laiba","Maha","fazeela"]
print(name1)

['Usama', 'Mahrukh', 'laiba', 'Maha', 'fazeela']

In [29]:
name1.insert(3,"Uzma")
print(name1)

['Usama', 'Mahrukh', 'laiba', 'Uzma', 'Maha', 'fazeela']

In [32]:
arr1 = ['Markhor',12,True,5.009,98]
print(arr1)

['Markhor', 12, True, 5.009, 98]

In [33]:
arr2 = arr[2:4]
print(arr2)

[True, 5.009]

In [34]:
arr3 = arr[:3]
print(arr3)

['Markhor', 12, True]

In [35]:
del arr[2]
print(arr)

['Markhor', 12, 5.009]

In [36]:
arr.remove(12)
print(arr)

['Markhor', 5.009]

In [38]:
arr1.pop()
print(arr1)

['Markhor', 12, True, 5.009]